# list of numbers which are multiple of 3 and 7 between 1 to 500

In [6]:
l=[]
counter=0;
for i in range(1,500):
    if (i % 3 == 0 or i % 7 == 0):
        l.insert(counter,i)
        l.sort()
for x in l:print(x)

3
6
7
9
12
14
15
18
21
24
27
28
30
33
35
36
39
42
45
48
49
51
54
56
57
60
63
66
69
70
72
75
77
78
81
84
87
90
91
93
96
98
99
102
105
108
111
112
114
117
119
120
123
126
129
132
133
135
138
140
141
144
147
150
153
154
156
159
161
162
165
168
171
174
175
177
180
182
183
186
189
192
195
196
198
201
203
204
207
210
213
216
217
219
222
224
225
228
231
234
237
238
240
243
245
246
249
252
255
258
259
261
264
266
267
270
273
276
279
280
282
285
287
288
291
294
297
300
301
303
306
308
309
312
315
318
321
322
324
327
329
330
333
336
339
342
343
345
348
350
351
354
357
360
363
364
366
369
371
372
375
378
381
384
385
387
390
392
393
396
399
402
405
406
408
411
413
414
417
420
423
426
427
429
432
434
435
438
441
444
447
448
450
453
455
456
459
462
465
468
469
471
474
476
477
480
483
486
489
490
492
495
497
498

# Mean of the above list

In [7]:
l=[]
counter=0;
for i in range(1,500):
    if (i % 3 == 0 or i % 7 == 0):
        l.insert(counter,i)
        l.sort()
def mean(numbers):
    return float(sum(numbers)) / max(len(numbers), 1)
mean(l)

250.83644859813083

# 25th quartile, 50th quartile and 75th quartile of the above list

In [14]:
import numpy
l=[]
counter=0;
for i in range(1,500):
    if (i % 3 == 0 or i % 7 == 0):
        l.insert(counter,i)
        l.sort()
first=numpy.percentile(l, 25)
second=numpy.percentile(l, 50)
third=numpy.percentile(l, 75)
print("25th Quartile:",first)
print("50th Quartile:",second)
print("75th Quartile:",third)

25th Quartile: 126.75
50th Quartile: 250.5
75th Quartile: 374.25